@font-face {
	font-family: arcade;
	src: url('fonts/arcadeclassic.ttf');
}

html {
	height: 100%;
}

body {
	height: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

div#game-play-area {
	background-color: rgba(0,255,255,0.5);

	position: relative;
}

div#player {
	background-color: #76ff03;

	position: absolute;
}

div.enemy {
	position: absolute;
}

div.tony {
	background-color: red;
	border-radius: 50%;
}

div.speedy {
	background-color: orange;
	border-radius: 25%;
}

div.blinky {
	background-color: yellow;
}

p#levelboard {
	color: white;
	text-align: center;
	font-size: 32px;
	font-family: arcade;
	letter-spacing: 3px;

	margin: 0;
	padding-top: 50%;
}